<!--main upload html page where the file is sent in the url as POST request -->
<!--This is where you can add bootstrap or css front end stuff -->
<html>
<head>
    {% load static %}
<!--    <script src="{% static "upload/functions.js" %}"></script>-->
    <link rel="stylesheet" type="text/css" href="{% static "upload/style2.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>
<body>
<div class="container py-5">

    <header class="text-white text-center">
        <img src= "{% static "upload/tribrand_blackbackground.jpg" %}" alt="" width="300" class="mb-4">
        <h1 class="display-4">NASA MoonTrek</h1>
        <p class="lead mb-0"></p>
        <p class="mb-5 font-weight-light">Upload a picture of the moon:
        </p>
    </header>


    <div class="row py-4">
        <div class="col-lg-6 mx-auto">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}

                <button type="submit" class="button">Submit Your Photo Here</button>

            </form>


        </div>
    </div>
</div>
</body>
</html>
