<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vector | API Call</title>
</head>
<body>
<h1>Vector | API Call</h1>
<h3>Testing the Vector Position call </h3>
<h4>Finds the positions of planets relative to some body/origin (in this case earth and moon) given by the user.
Resulting vectors show the position(s) of the centers of the bodies in question.</h4>

<div>
    <p>Vectors based on timestamp :</p>
    <p> <b>x</b> : {{ x }}</p>
    <p> <b>y</b> : {{ y }}</p>
    <p> <b>z</b>  : {{ z }}</p>
</div>

</body>
</html>