<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
<div class="container">

<h1>verify page</h1>

<div>
    <p> <b>If youre in this page in means the picture was succesfully uploaded to our Database , But is missing important data</b> </p>

    <p> The goal of this page is to verify with the user the image they uploaded </p>
	<div>
		<p>Address:
			{% if hasCoordinates %}
<!--			<span> {{ coordinates }}</span>-->
			<div>
				<ul style = "list-style-type: square">
				 <li> <p>Latitude: {{ lat }} </p></li>
				<li> <p>Longitude: {{ lon }} </p></li>
				<li> <p>Time: {{ time }} </p></li>
				<li> <p>Coordinates as a pair (in traditional LAT,LON): {{ coordinates }} </p></li>
<!--		  	<li> <p>Address: {{ address }} </p></li>-->
				</ul>
			</div>
			{% else %}
			<span>Your Image does not contain location data</span>
			{% endif %}
		</p>

		<p>Time:
				<span> {{ time }} </span>
		</p>
	</div>





</div>
</div>

</body>
</html>