<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
<div class="container">
<h1>verify page</h1>

<div>
    <p> <b>If youre in this page in means the picture was succesfully uploaded to our Database , now we need to verify a few things</b> </p>

    <p> The goal of this page is to verify with the user the image they uploaded </p>
	<div>
		<p>Address:
			{% if hasCoordinates %}
			<span> {{ coordinates }}</span>
			{% else %}
			<span>Your Image does not contain location data</span>
			{% endif %}
		</p>

		<p>Time:
				<span> {{ time }} </span>
		</p>
	</div>
	<p> If address is false and time none then ask the user to validate the data by displaying a form or redirecting to another page with a form</p>



</div>
</div>

</body>
</html>